<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="biz_dfch_PS_Abiquo_Client"
      type="biz.dfch.PS.Abiquo.Client.ModuleContextSection, biz.dfch.PS.Abiquo.Client"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  
  <biz_dfch_PS_Abiquo_Client 
    uri="http://abiquo.example.com/api" 
    authenticationType="plain" 
    credential="admin|xabiquo"
  />
</configuration>
